<div class="{{ class }} block"{{ cssID }}{% if style %} style="{{ style }}}"{% endif %}>
    {% if headline %}

    <{{ hl }}>{{ headline }}</{{ hl }}>
    {% endif %}

    {# put your content here #}
</div>
