<div class="{{ class }} block"{{ cssID }}{% if style %} style="{{ style }}}"{% endif %}{% block attributes %}{% endblock %}>
    {% block headline %}
    {% if headline %}

    <{{ hl }}>{{ headline }}</{{ hl }}>
    {% endif %}
    {% endblock %}

    {% block content %}{% endblock %}
</div>
